@media screen and (min-width:300px) and (max-width:576px){ 
    nav{
        width: 100%;
        padding: 10px 30px;
    }
    .logo h1{
        font-size: 27px;
    }
    .nav-items ul li{
       display: none;
    }  
    .nav-items-btn{
        margin-left: 30px;
        padding: 5px 20px;
        font-size: 15px;
    }
    /* banner section responsive code start */
    .banner-parent{
        width: 100%;
    }
    .banner-items{
        width: 90%;
        padding: 120px 0 0 10%;
        text-align: center;
    }
    .banner-items h1{
        color: #fab8d7;
        font-size: 30px;  
    }
    .banner-items p{
        padding: 20px 0;
        line-height: 1.4;
        font-size: 13px;
    }
    .banner-btn{
        background-color: #aa135a;
        color: #fff;
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 700;
        border: none;
        border-radius: 5px;
    }
/* first section responsive code start */
    .flower-parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        width: 94%;
        margin: 0 auto;
        text-align: center;
    }
    /* second section responsive code start */
    .catagorie-parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 80%;
        gap: 20px;
        margin: 0 auto; 
    }
    .catagorie-items img{
        width: 100%;
        height: 70%;
    }
    /* third section code start  */
    .deal-parent{
        display: block;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .deal-text h2{
        font-size: 25px;
        font-weight: 700;
    }
    .deal-text p{
        margin: 30px 0 40px 0;
        font-size: 16px;
        line-height: 1.4;
        color: rgb(65, 64, 64);
        font-weight: 500;
    }
    .deal-img img{
        width: 100%;
    }

    /* blog section responsive code start  */
    .blog-parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 80%;
        margin: 0 auto;
        gap: 20px;
    }
    .blog-items{
        width: 100%;
    }
    .blog-img img{
        width: 100%;
        height: 100%;
    }
    .blog-icon{
        gap: 20px;
    }
    /* footer section responsive code start  */
    .footer-parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        color: #fff;
        width: 80%;
        padding: 20px 0 40px 0;
        gap: 15px;
    }
}
@media screen and (min-width:577px) and (max-width:768px){ 
    nav{
        width: 100%;
        padding: 10px 30px;
    }
    .logo h1{
        font-size: 27px;
    }
    .nav-items ul li{
       display: none;
    }  
    .nav-items ul .list-1{
        display: block;
    }
    .nav-items-btn{
        margin-left: 30px;
        padding: 5px 20px;
        font-size: 15px;
    }  
     /* banner section responsive code start */
     .banner-parent{
        width: 100%;
    }
    .banner-items{
        width: 90%;
        padding: auto 10%;
        text-align: center;
    }
    .banner-items h1{
        color: #fab8d7;
        font-size: 42px;  
    }
    .banner-items p{
        padding: 20px 0;
        line-height: 1.4;
        font-size: 18px;
    }

    /* first section responsive code start */
    .flower-parent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        width: 94%;
        margin: 0 auto;
        text-align: center;
    }
    /* second section responsive code start */
    .catagorie-parent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 87%;
        gap: 30px;
        margin: 0 auto; 
    }
    .catagorie-items img{
        width: 100%;
        height: 70%;
    }
    /* third section code start  */
    .deal-parent{
        display: block;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .deal-text h2{
        font-size: 28px;
        font-weight: 700;
    }
    .deal-text p{
        margin: 30px 0 40px 0;
        font-size: 18px;
        line-height: 1.4;
        color: rgb(65, 64, 64);
        font-weight: 500;
    }
    .deal-img img{
        width: 90%;
    }
     /* blog section responsive code start  */
     .blog-parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 80%;
        margin: 0 auto;
        gap: 20px;
    }
    .blog-items{
        width: 100%;
    }
    .blog-img img{
        width: 100%;
        height: 100%;
    }
    .blog-icon{
        gap: 20px;
    }
     /* footer section responsive code start  */
     .footer-parent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        color: #fff;
        width: 80%;
        padding: 20px 0 40px 0;
        gap: 30px;
    }
    .footer-items i{
        margin-right: 8px;
        font-size: 16px;
        padding: 8px;
        margin-bottom: 5px;
    }
}
@media screen and (min-width:769px) and (max-width:992px){ 
    nav{
        width: 100%;
        padding: 10px 30px;
    }
    .logo h1{
        font-size: 27px;
    }
     .nav-items-btn{
        margin-left: 30px;
        padding: 5px 20px;
        font-size: 18px;
    }      
     /* banner section responsive code start */
     .banner-parent{
        width: 100%;
    }
    .banner-items{
        width: 60%;
        padding: 120px 0 0 60px;
    }
    .banner-items h1{
        font-size: 42px;  
    }
    .banner-items p{
        padding: 20px 0;
        line-height: 1.4;
        font-size: 17px;
    }
    /* first section responsive code start */
    .flower-parent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        width: 94%;
        margin: 0 auto;
        text-align: center;
    }
    /* second section responsive code start */
    .catagorie-parent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 90%;
        gap: 30px;
        margin: 0 auto; 
    }
    .catagorie-items img{
        width: 100%;
        height: 70%;
    }

     /* third section code start  */
     .deal-parent{
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .deal-text h2{
        font-size: 24px;
        font-weight: 700;
    }
    .deal-text p{
        margin: 10px 0 20px 0;
        font-size: 14px;
        line-height: 1.4;
        color: rgb(65, 64, 64);
        font-weight: 500;
    }
    .deal-img img{
        width: 300px;
    }
    .deal-btn{
        padding: 6px 18px;
        font-size: 14px;
        font-weight: 500;
    }
     /* blog section responsive code start  */
     .blog-parent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 90%;
        margin: 0 auto;
        gap: 40px;
    }
    .blog-items{
        width: 100%;
    }
    .blog-img img{
        width: 100%;
        height: 100%;
    }
    .blog-icon{
        gap: 20px;
    }
     /* footer section responsive code start  */
     .footer-parent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-between;
        color: #fff;
        width: 88%;
        padding: 20px 0 40px 0;
        column-gap: 60px;
    }
    .footer-items i{
        margin-right: 6px;
        font-size: 16px;
        padding: 8px;
    }
}
@media screen and (min-width:993px) and (max-width:1200px){ 
    nav{
        width: 100%;
        padding: 10px 53px;
    }
    .logo h1{
        font-size: 27px;
    }
    .nav-items ul li{
       display: none;
    }
    .nav-items-btn{
        margin-left: 30px;
        padding: 5px 20px;
        font-size: 18px;
    }  
    /* banner section responsive code start */
    .banner-parent{
        width: 100%;
    }
    .banner-items{
        width: 60%;
        padding: 120px 0 0 60px;
    }
    .banner-items h1{
        font-size: 45px;  
    }
    .banner-items p{
        padding: 20px 0;
        line-height: 1.4;
        font-size: 18px;
    }  
     /* first section responsive code start */
     .flower-parent{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 40px;
        width: 94%;
        margin: 0 auto;
        text-align: center;
    }
     /* second section responsive code start */
     .catagorie-parent{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 90%;
        gap: 30px;
        margin: 0 auto; 
    }
    .catagorie-items img{
        width: 100%;
        height: 70%;
    }
   
     /* third section code start  */
     .deal-parent{
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .deal-text h2{
        font-size: 28px;
    }
    .deal-text p{
        margin: 20px 0;
        font-size: 16px;
        line-height: 1.4;
        color: rgb(65, 64, 64);
        font-weight: 500;
    }
    .deal-img img{
        width: 400px;
    }
    .deal-btn{
        padding: 6px 18px;
        font-size: 16px;
        font-weight: 500;
    } 
     /* blog section responsive code start  */
     .blog-parent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 90%;
        margin: 0 auto;
        gap: 20px;
    }
    .blog-items{
        width: 100%;
    }
    .blog-img img{
        width: 100%;
        height: 100%;
    }
    .blog-icon{
        gap: 20px;
    }
    /* footer section responsive code start  */
    .footer-parent{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-content: space-between;
        color: #fff;
        width: 90%;
        padding: 20px 0 40px 0;
        gap: 15px;
    }
    .footer-items i{
        margin-right: 6px;
        font-size: 16px;
        padding: 6px;
    }
}